<div class="row">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Contact name</th>
      <th scope="col">Birth date</th>
      <th scope="col">Email</th>
      <th scope="col">Addresses</th>
      <th scope="col">Phones</th>
      <th scope="col">Credit cards</th>
      <th scope="col">Created at</th>
    </tr>
    </thead>
    <tbody>
    <% @contacts.each_with_index do |contact, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= contact.name %></td>
        <td><%= contact.birth_date %></td>
        <td><%= contact.email %></td>
        <td><%= raw contact.addresses.map{ |address| address.address }.join('<br />') %></td>
        <td><%= raw contact.phones.map{ |phone| phone.number }.join('<br />') %></td>
        <td><%= raw contact.credit_cards.map{ |card| "***#{card.last_four_numbers} #{card.franchise.name}" }.join('<br />') %></td>
        <td><%= contact.created_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% if @contacts.count == 0  %>
    <p> No contacts loaded yet, please create a import to load new contacts</p>
  <% end %>
</div>